<div class="flex flex-col h-full w-full overflow-auto">
  <h1 class="text-4xl w-full text-center">Table</h1>
  <div class="h-full flex w-full justify-center grow">
    <div class="container grid grid-cols-1 gap-4 h-full w-full">
      <div class="w-full h-[500px] border overflow-auto rounded shadow-md">
        <sc-table
          #table
          [data]="data"
          [currentPage]="tablePage"
          [currentPageSize]="tableSize"
          [externalPagination]="false"
          paginationPosition="top"
          [showPagination]="true">
          <thead Thead>
          <tr Tr>
            <th Th>Name</th>
            <th Th>Email</th>
            <th Th>Phone</th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let item of table.mainData">
            <tr Tr>
              <td Td>{{ item.name }}</td>
              <td Td>{{ item.email }}</td>
              <td Td>{{ item.phone }}</td>
            </tr>
          </ng-container>
          </tbody>
        </sc-table>
      </div>
    </div>
  </div>
  <!-- External Pagination -->
  <sc-pagination
    [totalRecords]="data.length"
    [currentPage]="tablePage"
    [currentPageSize]="tableSize"
    [pageSizeOptions]="[10, 20, 30, 40]"
    [totalPages]="table.totalPages"
    [first]="table.first"
    [last]="table.last"
    [showCurrentPageInfo]="true"
    currentPageInfoTemplate="Showing {first} to {last} of {totalRecords} mentor types"
    (onPageNumberChange)="tablePage = $event; table.onPageChange($event)"
    (onPageSizeChange)="tableSize = $event; table.onPageSizeChange($event)"
  />
</div>



