<div class="h-screen w-screen relative">
  <div class="h-full w-full bg-white relative" id="body-drag">
    <canvas id="canvas" class="w-full h-full absolute top-0 left-0"></canvas>
  </div>
  <div class="fixed top-[8px] h-[48px] left-0 right-0 flex justify-center">
    <div class="h-[48px] bg-white rounded-[0.5rem] shadow p-[4px] flex items-center space-x-[4px] border border-gray-100">
      <div [class.bg-purple-200]="shapeType === 'cursor'" class="h-[40px] w-[40px] hover:bg-purple-200 rounded-[0.5rem] p-[10px] cursor-pointer">
        <img src="cursor.png">
      </div>
      <div [class.bg-purple-200]="shapeType === 'rectangle'" class="h-[40px] w-[40px] hover:bg-purple-200 rounded-[0.5rem] p-[10px] cursor-pointer" (click)="rectangle()">
        <img src="square.png">
      </div>
<!--      <div [class.bg-purple-200]="shapeType === 'polygon'"  class="h-[40px] w-[40px] hover:bg-purple-200 rounded-[0.5rem] p-[10px] cursor-pointer" (click)="createTriangle()">-->
<!--        <img src="polygon.png">-->
<!--      </div>-->
<!--      <div [class.bg-purple-200]="shapeType === 'ellipse'"-->
<!--           class="h-[40px] w-[40px] hover:bg-purple-200 rounded-[0.5rem] p-[10px] cursor-pointer" (click)="createCircle()">-->
<!--        <img src="circle.png">-->
<!--      </div>-->
<!--      <div [class.bg-purple-200]="shapeType === 'text box'"-->
<!--           class="h-[40px] w-[40px] hover:bg-purple-200 rounded-[0.5rem] p-[10px] cursor-pointer" (click)="createText()">-->
<!--        <img src="text.png">-->
<!--      </div>-->
<!--      <div [class.bg-purple-200]="shapeType === 'line'"-->
<!--           class="h-[40px] w-[40px] hover:bg-purple-200 rounded-[0.5rem] p-[10px] cursor-pointer" (click)="createLine()">-->
<!--        <img src="line.png">-->
<!--      </div>-->
<!--      <div [class.bg-purple-200]="shapeType === 'single arrow'"-->
<!--           class="h-[40px] w-[40px] hover:bg-purple-200 rounded-[0.5rem] p-[10px] cursor-pointer" (click)="createSingleArrowLine()">-->
<!--        <img src="singleArrow.png">-->
<!--      </div>-->
<!--      <div [class.bg-purple-200]="shapeType === 'double arrow'"-->
<!--           class="h-[40px] w-[40px] hover:bg-purple-200 rounded-[0.5rem] p-[10px] cursor-pointer" (click)="createDoubleArrowLine()">-->
<!--        <img src="doubleArrow.png">-->
<!--      </div>-->
    </div>
  </div>
</div>

