<div class="flex flex-col w-full h-full">
  <!-- Top Pagination -->
<div class="px-6 py-4 border-b" *ngIf="showPagination && !externalPagination && paginationPosition === 'top'">
  <sc-pagination
    [totalRecords]="data.length"
    [currentPage]="currentPage"
    [currentPageSize]="currentPageSize"
    [pageSizeOptions]="pageSizeOptions"
    [first]="first"
    [last]="last"
    [totalPages]="totalPages"
    (onPageNumberChange)="onPageChange($event)"
    (onPageSizeChange)="onPageSizeChange($event)"
  />
</div>

  <div class="grow h-full w-full relative overflow-auto">
    <table Table class="min-w-full">
      <ng-content></ng-content>
    </table>
  </div>

  <!-- Bottom Pagination -->
  <div class="px-6 py-4 border-t"  *ngIf="showPagination && !externalPagination && paginationPosition === 'bottom'">
    <sc-pagination
      [totalRecords]="data.length"
      [currentPage]="currentPage"
      [currentPageSize]="currentPageSize"
      [pageSizeOptions]="pageSizeOptions"
      [first]="first"
      [last]="last"
      [totalPages]="totalPages"
      (onPageNumberChange)="onPageChange($event)"
      (onPageSizeChange)="onPageSizeChange($event)"
    />
  </div>
</div>
