<div class="h-screen w-screen flex justify-center items-center space-x-[4px]">
  <div class="p-[10px] border rounded-[0.5rem] cursor-pointer" routerLink="/svg-canvas">
    <label class="text-2xl pointer-events-none">SVG EDITOR</label>
  </div>
  <div class="p-[10px] border rounded-[0.5rem] cursor-pointer" routerLink="/forms">
    <label class="text-2xl pointer-events-none">FORM EDITOR</label>
  </div>
  <div class="p-[10px] border rounded-[0.5rem] cursor-pointer" routerLink="/components">
    <label class="text-2xl pointer-events-none">COMPONENTS</label>
  </div>
  <div class="p-[10px] border rounded-[0.5rem] cursor-pointer" routerLink="/editor">
    <label class="text-2xl pointer-events-none">EDITOR</label>
  </div>
  <div class="p-[10px] border rounded-[0.5rem] cursor-pointer" routerLink="/mail-template">
    <label class="text-2xl pointer-events-none">MAIL TEMPLATE</label>
  </div>
  <div class="p-[10px] border rounded-[0.5rem] cursor-pointer" routerLink="/fabricjs-board">
    <label class="text-2xl pointer-events-none">FABRIC JS WHITE BOARD</label>
  </div>
  <div class="p-[10px] border rounded-[0.5rem] cursor-pointer" routerLink="/component-generator">
    <label class="text-2xl pointer-events-none">MINIMAL COMPONENT GENERATOR</label>
  </div>
</div>
